/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-Mar-2018, 10:07:30
    Author     : hoang.dinh
*/

@font-face {
    font-family: 'UTM_ViceroyJF';
    /*src: url('./fonts/UTM_ViceroyJF.ttf');  IE9 Compat Modes */
    src: url('../fonts/UTM_ViceroyJF.ttf')  format('truetype');
}

.orange1 {
    color: #de5400;
}

.btn, .btn:hover, .btn:active, .btn:focus, .btn:visited {
    border-radius: 4px;
    outline: none;
}

a:hover {
    cursor: pointer !important;
}

/*CSS FOR PRODUCT BOX*/
/*888888888888888888888*/

.product-box .well {
    padding: 0;
    text-align: center;
}

.product-box h5 {
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0 8px;
    /*width: 80%;*/
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
}

.product-box a {
    text-decoration: none;
    color: #000;
}

.product-box .displayStyle {
    /*position: relative;*/
}

.product-box .price-area {
    height: 30px;
    margin-bottom: 10px;
}

.product-box .price {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: bold;
    height: 15px;
}

.corner-ribbon {
    position: absolute;
    /*    top: -6px;
        right:-24px;*/
    top: 0px;
    right: 0px;
    /*background-color: #f58025;*/
    background-color: #da1a1a;
    width: 60px;
    margin: 0;
    padding: 5px 0;
}
.corner-ribbon span {
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-right: 0px;
    display: block;
    position: relative;
}

.corner-ribbon:before{
    background: inherit;
    content: '';
    display: block;
    width: 100%;
    top: 0;
    position: absolute;
    bottom: 0;
    /*-webkit-backface-visibility: hidden;  for Chrome Windows */
    left: -10px;
    transform: skewX(25deg);
    transform-origin: 100% 0;
    box-shadow: -1px 1px 1px 0 #484848;
}

.corner-ribbon:after {
    /*display: block;*/
    display: none;
    position: absolute;
    bottom:-10px;
    right: 0;
    content: "";
    border-top: 0px solid transparent;
    border-bottom: 10px solid transparent;	
    border-left: 9px solid #484848;
}

/*CSS FOR CAROUSEL*/
.carousel .carousel-control {
    background: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    z-index: 9999;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 40px;
    margin-top: -50px;
    border: 2px solid #FFF;
}

.title {
    border-bottom: 2px solid #ededed;
    margin-bottom: 28px;
    min-height: 38px;
    clear: both;
    font-family: 'UTM_ViceroyJF';
    color: #d00000;
    font-size: 42px;
    text-align: center;
    line-height: 38px;
    font-weight: normal;
    text-shadow: 0 0 1px #666;
    margin-top: 20px;
}

.nav-custom {
    width: 100%;
    background-color: #000000;
}

.dropdown-submenu > .dropdown-menu {
    top: auto;
    left: 0;
}

#myCarousel .carousel-control.right {
    right: 15px;
    left: auto; 
}

/*CUSTOMIZE FOR NAVBAR*/
.navbar-inner {
    padding-left: 0;
}


.navbar .nav > li > a {
    float: none;
    padding: 10px 15px 10px;
    /*color: #421d1d;*/
    color: #F9F912;
    text-decoration: none;
    font-weight: bold;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}

.navbar .nav > li:hover > a {
    background-color: #0081c2;
}
.dropdown-menu {
    padding: 0 5px;
    border-radius: 0;
    background-color: #000000;
}

.navbar .nav ul li {
    border-bottom: 2px solid;
}

.dropdown-menu > li > a {
    color: #F9F912;
}

.nav > li > a:before{
    display: block;
    content: "| ";
    float: left;
    width: 0;
    height: 0;
    color: #CF0000;
    margin-left: -16px;
}

.nav > li:first-child > a:before{
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    margin-left: -16px;
}

.search-form  input[type="text"] {
    margin-bottom: 0px;
    border-radius: 5px 0 0 5px;
}

.search-box {
    display: inline-block;
    float: right;
}


.search-box-logo {
    margin-left: -7px;
    margin-top: 0 !important;
    border-radius: 0 5px 5px 0;
}

#toTop span {
    background: linear-gradient(#00d2ff, #928DAB);
}

.user-small-menu {
    text-align: left;
}

.user-small-menu li a {
    padding: 3px 10px;
}


@media (max-width: 767px) {
    .search-box {
        display: block;
        width: 100%;
        text-align: center;
    }
    .search-box-logo {
        /*margin-left: 0;*/
        margin-top: 5px;
    }
}

#nav.affix {
    top: 0;
    right:0;
    left:0;
    width: 100%;
    z-index: 10000;
}
#nav-wrapper { margin-bottom:20px; }

#nav.affix ~ .maincontainer {
    position: relative;
    top: 500px;
}

/*#nav.affix + .container {
    padding-top: 1000px;
}*/

.control-group input {
    border-radius: 3px;
}

.has-error input {
    border-color: #FA0000;
    box-shadow: 0px 0px 7px -1px #EF1212;
}

/*/////////////////////////////////////////*/
/*-----------  STYLE FOR CART  ------------*/
.stickcart {
    position: fixed;
    right: 1%;
    top: 65px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 5px 10px 10px 0 rgba(0,0,0,.5);
    font-size: 14px;
    color: #288ad6;
    padding: 0 10px 0 0;
    /*width: 140px;*/
    z-index: 99;
}

.stickcart div {
    float: left;
    width: 38px;
    height: 38px;
    border-radius: 40px;
    background: #ffde31;
    margin: 2px 5px 2px 2px;
    font-size: 25px;
    color: #000000;
    text-align: center;
    line-height: 1.5;
}

/*.stickcart span {
  display: block;
  padding: 4px 0 0;
  white-space: nowrap;
}*/

.stickcart strong {
    display: block;
    white-space: nowrap;
}

.stickcart .p-num {
    display: inline-block;
    min-width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #EF1212;
    color: #EFEF02;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    margin-left: -15px;
}

.img-box {
    display: inline-block;
    margin-right: 10px;
    float: left;
}

.img-box img {
    max-height: 70px;
}

.name-box {
    display: inline-block;
    max-width: 320px;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.number-box {
    text-align: right !important;
}

.remove-product {
    display: block;
    width: 50%;
    float: right;
    text-align: center;
    font-size: 18px;
}

.product-num-box {
    /*width: 100px;*/
    width: fit-content;
    margin: 0 auto;
}

.product-num {
    display: inline-block;
    width: 30px;
    box-sizing: border-box;
    border: 1px solid #AFAFAF;
    /*margin: 0 -4px;*/
    padding-right: 2px;
    font-weight: bold;
    color: #070a98;
    font-size: 16px;
}

.change-num-direct {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #AFAFAF;
    text-align: center;
}

.change-num-direct:hover, .change-num-direct:visited {
    cursor: pointer;
    background-color: #CFCFCF;
}

.change-num-direct:active{
    transition: 0.5;
    background-color: #AFAFAF;
}

.current-price {
    font-size: 18px;
    line-height: 28px;
    color: #f57224;
    font-weight: 500;
    margin-bottom: 4px;
}

.original-price {
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    margin-bottom: 8px;
    text-decoration: line-through;
}

.promotion-ratio {
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    font-weight: 500;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currentlysupported by Chrome and Opera */
}

.table-bordered th, .table-bordered td {
    border-left: 0px;
}

.block {
    text-align: center;
    padding: 7px;
    border: 1px solid #ddd;
    border-top: 3px solid #eb4800;
    -moz-box-shadow: 0 0 3px 0 #ccc;
    -webkit-box-shadow: 0 0 3px 0 #ccc;
    box-shadow: 0 0 3px 0 #ccc;
    margin-bottom: 20px;
}

.line-block {
    margin: 10px 0px;
    padding: 5px 0px;
    border-bottom: 1px solid #AFAFAF;
    font-size: 14px;
}

.line-block .float-left {
    float: left;
}

.line-block .float-right {
    display: inherit;
}

.line-block b {
    font-size: 16px;
}

.table-bordered {
    border-left: 1px solid #dddddd;
}

.romove-sign i {
    font-size: 19px;
    color: #CF0000;
}

span.disabled {
    opacity: .3;
    cursor: not-allowed !important;
    pointer-events: none;
}

.product-quatity-notify {
    text-align: left;
    text-transform: capitalize;
    color: #136905;
}

#total-money {
    color: #b70707;
}

.bold {
    font-weight: bold;
}

.next-group {
    margin-top: 10px;
}


/*---------------------------------------------*/
/*---------------------------------------------*/
/*---------- STYLE FOR NOTIFY-FORM -------------*/

#notify-modal h4 {
    color: #129F56;
}

#notify-modal .product-info {
    border-right: 1px solid #969393;
    margin-bottom: 30px;
}

#notify-modal .product-info .image {
    width: 40%;
    margin-right: 10px;
    display: inline-block;
    float: left
}

#notify-modal .product-info .image img {
    max-width: 90px;
}

#notify-modal .product-info .name-box {
    display: inline-block;
    font-weight: bold;
    max-width: 50%
}

#notify-modal .product-info .name-box #product-price-modal {
    font-size: 14px;
    font-weight: normal;
    color: #c74708;
}

#notify-modal .cart-info a {
    float: right;
    font-size: 19px;
}

#notify-modal .cart-info .temp-money  {
    margin-top: 10px;
    padding: 4px 0;
    border-bottom: 1px solid #969393; 
    border-top: 1px solid #969393;
}

#notify-modal .cart-info .temp-money > span {
    float: right;
    text-align: right;
}

#notify-modal .cart-info .total-money {
    padding: 4px 0;
    font-weight: bold;
}

#notify-modal .cart-info .total-money > span {
    float: right;
    text-align: right;
    font-size: 17px;
    color: #da5e03;
}

#notify-modal .action {
    text-align: right;
}

#error-modal .modal-header {
    background: #fd5b29;
    border-radius: 6px 6px 0 0;
    color: #FFFFFF;
}


/*EDIT FOR CHECKOUT FORM*/
/*************************/
form label {
    cursor: default
}
.header_text {
    margin-bottom: 0px;
}

section.header_text.sub {
    margin-bottom: 0px;
}

.header_text p {
    line-height: 1.5;
    margin: 10px 0;
}

#checkout-form .required {
    color: #EF1212;
    font-weight: normal;
    float: right;
}
.noted {
    text-align: center;
    border-bottom: 2px solid;
    color: #b13c02;
}

.group-block {
    /*width: fit-content;*/
    width: 100%;
    text-align: left;
    margin: 5px auto;
}
.group-block h4 {
    padding-left: 20px;
    color: #de5400;
}

.group-block label {
    font-weight: bold
}

.group-block label b {
    color: #EF1212;
}

.input-xlarge {
    width: 100%;
    border-radius: 4px !important;
}

#checkout_submit {
    padding: 10px 40px;
    font-size: 18px;
    color: #FCFCFC;
    background: #EB4800;
    border: 1px solid #CFCFCF;
    border-radius: 5px;
}

/*---------------------------------------------*/
/*---------------------------------------------*/
/*---------- PRODUCTS DETALS PAGE -------------*/
.comment-content {
    color: #333;
    line-height: 24px;
    background: #f8f8f8;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 20px;
}

.comment-content img {
   display: inline-block;
   float: left;
   margin-right: 15px;
}


/*---------- END PRODUCTS DETALS -------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/

/* ----------- STYLE FOR ACCOUNT MANAGEMENT -----*/
.not-underline, .not-underline:hover, .not-underline:focus, .not-underline:active {
    text-decoration: none
}

.order-detail div[class^=span] {
    margin-top: 15px;
}

.order-detail .line-block {
    margin: 0px;
    padding: 4px 0px;
}

.avatar-box {
    display: block;
    border: 2px solid #666;
    border-radius: 5px;
    width: 240px;
    height: 240px;
    overflow: hidden;
}

.avatar-box img {
    transition: linear 1s;
}

.profile-update input {
    width: 90%;
}

.btn.disabled, .btn[disabled] {
    cursor: not-allowed;
}

.required {
    color: #EF1212;
}


/*------------- STYLE FOR LOGIN FORM --------------*/
.control-group {
    padding: 0px 20px;
}
.input-box {
    padding: 5px 20px;
}

.input-box input {
    width: 96%;
}



.well {
    text-align: center;
}

#text_content{
    margin: 0px 0px 10px;
    height: 86px;
    width: 900px;
    margin-left: 4%;
    margin-top: 20px;

}
#img_avatar{
    width:50%;
    height:50% ;
    margin-left: 1%;


}
.send_comment{
    float: right;
}
.content_comment{
    margin-left: 65px;

}




/* ------------ RESPONSIVE ---------------------*/

@media (min-width: 768px) {
    .default-add-payment {
        padding-left: 15px;
        border-left: 3px solid #9F9F9F;
    }

    .user-info {
        height: 230px;
    }

    .add-info {
        height: 230px;
    }

    .order-detail .span6 .accordion-group {
        height: 178px;
    }

    .avatar-box {
        display: block;
        border: 2px solid #666;
        border-radius: 5px;
        width: 210px;
        height: 210px;
        overflow: hidden;
    }

    .register-form {
        width: 80%;
        margin: 0 auto;
    }

    .register-form input {
        width: 60%;
    }

    .register-form div.required {
        width: 65%;
        float: right;
        text-align: left;
    }


}

@media (min-width: 1024px) {
    .register-form {
        width: 60%;
        margin: 0 auto;
    }

    .register-form input {
        width: 65%;
    }
    
    .register-form div.required {
        width: 68%;
        float: right;
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .register-form div.required {
        width: 71%;
        float: right;
        text-align: left;
    }
}

@media (max-width: 979px) {

    body { background-color:#eee;}
    #nav.affix, #nav.affix-top { position: relative; }

}

@media (max-width: 767px) {
    .register-form {
        width: 100%;
        margin: 0 auto;
    }

    .register-form input {
        width: 100%;
    }
    .register-form div.required {
        width: 100%;
        text-align: left;
    }
}

/*STYLE FOR COMMENT FORM*/
/*************************/

